 body{
  overflow-x: hidden;
 

} 

 .nav{ 
  display: flex;
  flex-wrap: wrap;
 justify-content: space-between; 
  
} 

 .container{
  height: 13%;
  width: 100%;
  background-color: #002A50;
} 

 .links ul{
    display: flex;
    list-style-type: none;
    } 

.links ul li a {
  text-decoration: none;
  color: #fff;
} 

.links ul li{
   padding-left: 20px; 

} 


 .cloud{
  color: #fff;
  padding-left: 3%;
  margin-top: 14px;
  font-size: 20px;
} 
  /* Navbar CSS ends here */


.bannerimage{
  background-size: cover;
 background-repeat: no-repeat; 
  background-position: 100%;
 background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/photo1.jpg);
  width: 100%;
  height: 600px;

}

.impact{
  position: absolute;
  top: 30%;
  left: 40%;

}

.impact h1{
  /* text-align: center; */
  font-size: 60px;
  color: #fff;
  margin-left: 100px;
}

  .impact p{  
  /* text-align: justify;  */
   /* font-size: 20px;
  color: #002A50;
  border: 1px solid black;
  border-radius: 30px;   */
             /* padding: 15px;   */
   /* background-color: #fff;
 width: 170px;  */
   /* margin-right: 80px;     */
   } 


.container-big{
  display: flex;
  margin-top: 50px;
}


.inner-big{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

 .inner-big #first{
  width: 300px;
  height: 250px;
  
}

  .inner-big #two{
  border: 2px solid yellow;
  width: 230px;
  height: 170px;
  margin-right: 72px;  
} 


.inner-big #three{
  border: 2px solid red;
  width: 185px;
  height: 165px;
   
} 


.inner-big #four{
  width: 300px;
  height: 250px;
}

.big-pic{
  position: relative;
  width: 60%;
   
}

.big-pic img{
  width: 500px;
  height: 400px;
  position: absolute; 
   top: 2%;
  left: 12%; 
  border-radius: 150px 0px 150px 0px;
}

.ipsum{
   margin-top: 20px;
   padding-right: 150px;
}


.ipsum p{
 font-size: 18px;
 /* margin: 0;
 padding: 0; */
 
}


.ipsum h6{
   font-size: 40px;
   color: #002A50;
   /* margin: 0;
   padding: 0; */
}

.ipsum button{
  color: #fff;
  background-color: #002A50;
  padding: 8px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  
}

.salute{
  text-align: center;
  color: #002A50;
  margin-top: 50px;
 

}

.salute h1{
   font-size: 40px;
   margin: 0;
   padding: 0;

}

.salute p{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.simple{
  display: flex;
  
}

.leap{
  /* background-color: aqua; */
  width: auto;
  height: auto; 
  /* border-right: 1px solid black; */
  /* padding: 10px; */
   margin-left: 70px; 
  /* margin: auto; */
  margin-top: 20px;
  /* border: 1px solid black; */
  
}

.leap img{
  width: 300px;
  height: 200px;
 border-radius: 10px; 
}

.leap h5{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.leap p{
  /* margin: 10px;
  padding: 0; */
}

.desktop{
  /* background-color: aqua; */
  width: auto;
  height: auto;
  /* border-right: 1px solid black; */
  /* padding: 10px; */
  margin-left: 70px; 

}

.desktop img{
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.desktop h5{
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.desktop p{
  /* margin: 10px;
  padding: 0; */
}


.print h2{
  text-align: center;
  font-size: 40px;
}

.solutions{
  display: flex;
}

.typesetting{
  display: flex;
}


.computing{
   width: auto;
  height: auto; 
  border: 1px solid black;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px #ccc ;
  
}

.solutions{
  /* margin: 10px; 
  padding: 10px; */
}

.active{
  display: flex;
  margin-top: 60px;
}

.been h1{
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
}

.product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100px;
  width: 250px; */
  
}

.product img{
  /* background-color: aqua;
  border: 1px solid black; */
}

.top{
  height: 90px;
  width: 120px;
  border: 1px solid black;
    padding-left: 80px;  
    padding-top: 20px; 
   margin: 5px;

   
  
 
}

.top p{
    /* margin-right: 20px; */
}

.machine{
  display: flex;
  margin-top: 80px;
}

.mobile{
  width: auto;
  height: auto;
  background-color: #002A50;
  border: 1px solid black;
  padding: 40px;
  color: #fff;
  margin: 10px;
  font-size: 15px;
 
}

.mobile h4{
  font-size: 20px;
}



.growth{
  width: auto;
  height: auto;
  border: 1px solid black;
  padding: 30px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px #ccc;
}












.over p{
  text-align: center;
  color: #002A50;
  font-size: 40px;
  
}

.users{
  display: flex;
  justify-content: space-between;
  
}
.about{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 40%;
  height: 400px;
  margin-left: 60px;
  border-radius: 20px;
  margin-top: 2%;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/images.jpg);
  
}

.services{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 40%;
  height: 400px;
  margin-right: 60px;
  border-radius: 20px;
  margin-top: 10%;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/images.jpg);

}


.see{
  color: #fff;
  text-align: start;
  font-weight: bolder;
  font-size: 45px;
  padding-left: 50px;
}

.show{
  color: #fff;
  padding-left: 80%;
  padding-top: 40px;
}

.users hr{
  width: 20%;
  margin-left: 75%;
}

.awesome h1{
  text-align: center;
  color: hsl(209, 100%, 16%);;
  font-size: 40px;
   padding-top: 60px; 
   margin: 0; 
  

}

.awesome p{
  text-align: center;
  color: black;
  font-size: 30px;
  margin: 0;
  padding: 0;
}


.display{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.display img{
  height: 250px;
  width: 350px;
 margin-right: 40px; 
   margin-left: 40px; 
  border: 2px solid #002A50;
  border-radius: 10px;
}

.offer h1{
  text-align: center;
  color: #002A50;
  font-size: 40px ;
  margin: 0;
  padding-top: 50px;
}


.includes{
  display: flex;
}

.success{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 30%;
  height: 300px;
  margin-left: 220px;
  border-radius: 20px;
  margin-top: 20px;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url('pics/cloud.png');
   color: #fff;
    text-align: center;
    font-weight: bolder; 
    font-size: 70px;
    
  
}

.success .globe{
  margin-top: 110px;
  
    
}

.system{
  margin-left: 100px;
  margin-top: 20px;
}

.system h3{
  color: #002A50;
  font-size: 30px;
}

.system hr{
    width: 20%;
    color: #002A50;
    margin-left: 30px;
}

.system p{
  font-size: 30px;
}



.enrich{
  display: flex;
}

.customer{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 30%;
  height: 300px;
   margin-left: 100px; 
  border-radius: 20px;
  margin-top: 70px;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url('pics/cloud.png');
  color: #fff;
    text-align: center;
    font-weight: bolder; 
    font-size: 70px;
  
}

.customer .group{
  margin-top: 110px;
}

.google{
   margin-left: 220px; 
  margin-top: 90px;
}

.google h3{
  color: #002A50;
  font-size: 30px;
}

.google hr{
    width: 20%;
    color: #002A50;
    margin-left: 30px;
}

.google p{
  font-size: 30px;
}



.network{
  display: flex;
}

.solution{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 30%;
  height: 300px;
  margin-left: 220px;
  border-radius: 20px;
  margin-top: 100px;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/cloud.png);
  color: #fff;
    text-align: center;
    font-weight: bolder; 
    font-size: 70px;
}

.solution .filled{
  margin-top: 110px;
}

.range{
  margin-left: 100px;
  margin-top: 100px;
}

.range h3{
  color: #002A50;
  font-size: 30px;
}

.range hr{
    width: 20%;
    color: #002A50;
    margin-left: 30px;
}

.range p{
  font-size: 30px;
}

.backend{
  display: flex;
}



.thousand h2{
  text-align: center;
  font-size: 30px;
  padding-top: 70px;
}


.frontend p{
  height: 150px;
  width: 310px;
  border: 1px solid black;
  margin: 50px;
  padding: 20px;

}

.frontend img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.frontend img{
  margin-left: 80px;
}


.frontend h4,h5{
   /* text-align: center; 
    padding: 0; 
   margin: 0;
  margin-left: 160px;
  margin-top: 0px;
  margin-bottom: 20px ;  */
  margin-left: 160px;
  /* padding-bottom: 200px; */
   
}


.developer p{
  height: 250px;
  width: 310px;
  border: 1px solid black;
  margin: 50px;
  padding: 20px;
  /* margin-bottom: 200px; */
}


.developer img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.developer img{
  margin-left: 80px;
}

.developer h4,h5{
  /* text-align: center; 
   padding: 0; 
  margin: 0;
 margin-left: 160px;
 margin-top: 0px;
 margin-bottom: 20px ;  */
 margin-left: 160px;
 /* margin-bottom: 200px; */
}



.science p{
  height: 100px;
  width: 310px;
  border: 1px solid black;
  margin: 50px;
  padding: 20px;
}


.science img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.science img{
  margin-left: 80px;
}


.science h4,h5{
  /* text-align: center; 
   padding: 0; 
  margin: 0;
 margin-left: 160px;
 margin-top: 0px;
 margin-bottom: 20px ;  */
 margin-left: 160px;
}







.team{
  text-align: center;
  padding-top: 50px;
}

.team h5{
    color: #002A50;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.team p{
  font-size: 20px;
   padding-top: 10px;
   padding-bottom: 20px; 
  margin: 0;
}

html,
body {
  position: relative;
  height: 70%;
  
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  /* margin: 0; */
  /* padding: 0; */
  
}

.swiper {
  width: 80%;
  height: 100%;
  margin-bottom: 40px;

 
 
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px  ;
  
}


     /* Services page CSS */

     .container-large{
      display: flex;
      flex-direction: column;
      justify-content: center;
       align-items: center; 
      color: #fff;
  }

   main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 40px;
    } 
    .single--paragragh{
        display: flex;
        color: #000;
        font-size: 1.5rem;
        text-align: center;
    }
    .single--paragraph a{
      padding-left: .3em;
      text-decoration: none;
    }

     /* .book{
         padding-right: 20px;
    }  */


    .text--section{
        text-align: center;
        font-size: 1.5rem;
        color: #000;
    }
    .text--section h2{
        text-shadow: 0 0.09em 0.09em;
        font-family: 'Roboto', sans-serif; 
        letter-spacing: 0.3em;
        
    }
    .text--section,hr{
        width: 50%;
    } 
     .cards--section{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        grid-gap: 4em;
        margin: 2rem auto;
    } 
    .card{
    width:  5%;
    height: 10vh; 
    margin: .2em;
    padding: 3em 6em; 
    background-color:#002a50;
    border-radius: 0.5rem;
    font-size: 1rem;
    position: relative;
    } 
     .card p{
       
        position: absolute;
        top: 20%;
        left: 5%;
        transform: translate(1%, 100%);
    }
    .block{
        display: flex;
        justify-content: space-around;
    }
    .block--div{
        margin: 1em;
        padding: 2em 3em;
        border-radius: 0.5rem;
        background-color: rgb(127, 194, 216);
    } 
     .background--image{
        width: 100%;
        height: 80vh;
        border-radius: .5em;
        background: linear-gradient(50deg, rgba(63, 59, 59, 0.5), rgba(161, 145, 145, 0.5)), url(pics/logi.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: cover;
        background-position-x: center;
        background-position-y: center;
        position: relative;
    } 
    .center--text{
       position: absolute;
       top: 50%;
       left: 50%;
        transform: translate(-50%,-50%);
        color: #fff;
        font-weight: bolder;
        font-size: 2.5rem; 
        opacity: 1;
    } 



    /* About page CSS */
 
    .hero-section {
      margin-top: 90px;
  } 
  
    .hero-section h1 {
      text-align: center;
      font-size: 60px;
      color: #002A50;
      
  } 
  
     .hero-section2 h2{
      text-align: center;
      font-size:39px;
      margin-top: 70px;
      margin-bottom: 20px;
  } 
  
   span {
      color: #5487B6;
  }  
  
   .text-shardow {
       text-shadow: -1px 3px 3px rgba(76, 76,76,0.32); 
  } 
   
   .satisfy {
      font-size: 43px;
      color: #4C4C4C;
  } 
  
   .sect .line {
      background-color: #5487B6;
      height: 2px;
      width: 550px;
      margin-top: 0px;
  }  
   
     .two {
      margin-top: 100px;
  } 
  
  
  .two .flex {
      display: flex;
      justify-content: center; 
  
  }  
   
    .flex > div {
      width: 600px;
      height: 500px;
      margin-right: 120px;
  } 
   

    .flex > .rec {
      height:350px ;
      width: 370px;
      background-color: rgb(66, 57, 75);
      position: relative;
      margin-top: 40px;
      border-radius: 15px;
  }   
     
    .rec .img1 {
      height: 350px;
      width: 400px;
      left: 50px;
      top: 50px;
      position: absolute;
      border-radius: 15px;
      }     

    .one p{
      font-size: 28px;
      padding-left: 70px;
   } 
   
   .two .text {
       color: #002A50;
      font-size: 35px;
      letter-spacing: 2px; 
       margin-top: 60px;
      margin-left: 85px;
      margin-bottom: 2px; 
      
  }   

  
  
     .we-do {
      font-size: 30px;
      color: #002A50;
      text-align: center;
  }  



  
    .video{
      display: block; 
      width: auto;
      margin: 0 auto;
       
      
  }   



 
    .vid {
      height: 700px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-image: linear-gradient(rgba(116, 154, 192, 0.4), rgba(116, 154, 192, 0.4)), url('pics/logi.jpg');
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
     }  
       
     
  
     .circle1 {
      height:200px ;
      width: 200px;
      background-color:  #002A50;
       position: relative; 
     left: 10%; 
      top: 150px;  
      border-radius: 100%;
  }    


 
   .circle2 {
       height:300px ;
      width: 305px;
      background-color: #5487B6;
       position: relative;  
       /* left: 40%;  */
       top: 300px;  
      border-radius: 100%; 
  }  


  
   .circle3 {
      height:200px ;
      width: 200px;
      background-color:  #002A50;
       position: relative; 
      right: 10%; 
      top: 150px; 
      border-radius: 100%;  
  }   
  
   .stats {
      color: #fff;
      
  }  
  
  .vid .circle1 p{
    padding-top: 30px;
    padding-left: 50px; 
    font-size: 30px;
  } 

   .vid .circle2 p{
     padding-top: 50px;
     padding-left: 90px; 
     font-size: 30px;

  } 

 
  .vid .circle3 p{
      padding-top: 30px;
      padding-left: 50px;
      font-size: 30px;
  } 

 
  
     .patners {
      display: flex;
      justify-content: center;
      gap: 160px;
  }   
  
  
     .paypal{
      display: flex;
      justify-content: center;
      gap: 160px;
     }


   
     .patners .logos {
    width: 150px;
    height: 150px;
       }  
       
       .paypal .logos{
        width: 150px;
        height: 150px;
       }



       /* Contact page CSS */


       

        html,body {
        /* padding:0;
        margin:0; */
        box-sizing: border-box;
         /* overflow/x: hidden;  */
        } 
        
        
        
         * {
             /* margin: 0;   */
        
           /* padding: 0;  */
        
        } 
      
         .Top-Part {
        
            height: 35rem;
            width:100%;
            background: linear-gradient(10deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pics/image10.jpg");
            background-size:cover;
            background-position: center;
             margin:0; 
             padding:0; 
        
        }  
        
         .Top-Part > h1 {
        font-size: 4rem;
        position:absolute;
        text-align: center;
        }
        
        .Sign {
        color:#5487B6;
        top:10rem;
        left:25rem;
        } 
        
        .start {
            color:#fff;
            top:15rem;
            left:29rem;
        
        }  
        
         .Top-Part > h2 {
            color:#d9d9d9;
            font-size:1.9rem;
            position:absolute;
            top:26rem;
            left:24.5rem;
        } 
        
        .Top-Part > hr {
            color:#5487B6;
            width:30rem;
            position:absolute;
            top:31rem;
            left:27rem;
        } 
         
         .Contact {
             height: 76rem;
            width:100%;
            background-color: #5487B6; 
             margin: 0; 
             padding:0;  
             box-sizing:border-box; 
            position:relative; 
        }
         
        
        
        .box { 
            height:7rem;
            width:15rem;  
             margin-left: 34rem;
            color:#002a50;
            position:absolute;
            margin-top:1rem;
            border-radius: 5px;  
         } 
        
         .box >h1 {
        text-align: center;
        margin-top:30px;
        font-size:40px;
    
        }
        
        .formular form {
            color:#fff;
            display:flex;
            justify-content: space-around;
            text-align: center;
            font-size:25px;
        
        } 
        
        
        input {
        
            width:22rem;
            box-sizing: border-box;
            border:none;
            outline:#5487B6;
            background-color:#5487B6;
            border-bottom: 2px solid #fff;
            color:#fff;
            font-size:25px;
          }
         
        
        
             textarea {
            width: 22rem;
            height: 10rem;
            box-sizing: border-box;
            border:none;
            outline:#fff;
            border-radius: 5px;
            background-color: #f8f8f8;
            resize: none;
            margin-top:50px;
            font-size: 25px;
          } 
            
        
        
          table {
            margin-right:10rem;
            margin-top: 10rem;
            margin-left:5rem;
           margin-bottom:2rem;
          }
        
          td {
            height: 100px;
        } 
         
        
        .Socials {
        margin-top: 12rem;
        margin-right:8rem;
        }
        
        .mediapic {
            height:18rem;
            width:25rem;
            background-image: linear-gradient(10deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("pics/image11.jpg");
            background-size: cover;
            border-radius: 5px;
            text-align: center;
            position:relative;
            margin-top:2rem;
          
        
        
        }  
        
        
        .mediapic  > h1{
            font-size:35px;
            position:absolute;
            margin-top:6rem;
            
            
        
        } 
        
        .social-media {
            margin-left:1rem;
            
        }
        
        .icon-accent {
            margin-top: 1.5rem;
            margin-right:10px;
            font-size:2rem;
            fill: #fff;
            display: inline-block;
        }
        
        .submitbut {
        width:100px;
        height: 30px;
        background-color:#002a50;
        color:#fff;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        position:absolute;
        top:40rem;
        left:22rem;
        
        } 
        
        .Contact > hr {
            width:61rem;
            margin-top:6rem;
            margin-left:12rem;
        } 
        
         .hotline { 
           height: 18rem;
            width:25rem;
            background: linear-gradient(10deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pics/image12.jpg");
            background-size:cover;
            background-position: center;
            border-radius:5px;
            margin-left: 12rem; 
                          /* margin-top: 10rem; */
           color: #fff;
            font-size: 25px;
            position:relative; 
         }  
         
        .hotline > p {
        text-align: center;
        position:absolute;
        top:6rem;
        }
        
        .location {
            display:flex;
            margin-top:5rem;
        } 
         
        
         .loc-text {
            height:20rem;
            width:20rem;
            margin-left: 38rem;
            line-height: 40px;
            margin-top: 2rem;
        }

        .loc-text p{
          margin-top: 3px;
        }
        
        
         .mapbut {
            width: 140px;
            background-color:#fff;
            color:#002a50;
            border:none;
            height:30px;
            border-radius:5px;
            font-size:20px; 
            margin-left:13rem;
            }  
        
        
            /* Responsivenes */
        
        
        
           @media only screen and (max-width:1280px) { 
        
                
        
        .Top-Part {
        
            height:30rem;
         }
        
        .Top-Part > h1 {
            font-size:3.5rem;
        }
        
        .Sign {
        top:8rem;
        left:25rem;
        }
        
        .start {
            top:12rem;
            left:28rem;
        
        }
         
         .Top-Part > h2 {
            font-size:1.6rem;
            top:21rem;
            left:25rem;
        }
        
        .Top-Part > hr {
            width:25rem;
            top:25rem;
            left:27rem;
        }
        
        .Contact {
            height:73rem;
        } 
        
        
         
        .box {
            height:6rem;
            width:12rem;
            margin-left: 33rem;
            margin-top:1rem;
        }
        
        .box >h1 {
        margin-top:25px;
        font-size:40px;
        }
        
        
        .Contact > hr {
            width:55rem;
            margin-top:6rem;
            margin-left:12rem;
        } 
        
         .hotline {
            margin-left: 12rem;
            font-size: 25px;
        }
        
        
        
        .loc-text {
            margin-left: 38rem;
        }
        
        
        .mapbut {
            width: 140px;
            height:30px;
            font-size:20px;
            margin-top:2rem;
            margin-left:12rem;
            }
        
        
        }
         
        
           @media only screen and (max-width:768px) {
        
            
        .Top-Part {
        
            height: 22rem;
        
        }
        
        .Top-Part > h1 {
        font-size: 2.8rem;
        }
        
        .Sign {
        top:6rem;
        left:13rem;
        }
        
        .start {
            top:9rem;
            left:16rem;
        
        }
        
        .Top-Part > h2 {
            font-size:1.3rem;
            top:15rem;
            left:12rem;
        } 
        
         .Top-Part > hr {
            width:20rem;
            top:18.5rem;
            left:14rem;
        }
        
        
        .Contact {
            height:42rem;
        }
        
        
        .box {
            height:4rem;
            width:10rem;
            margin-left:18.5rem;
            margin-top:0.5rem;
        }
        
        .box >h1 {
        margin-top:15px;
        font-size:30px;
        } 
        
        
        .formular form {
            display:flex;
            text-align: center;
            font-size:15px;
        
        }
        
        
        input {
        
            width:10rem;
            font-size:15px;
          }
        
        
        
            textarea {
            width: 10rem;
            height: 5rem;
            margin-top:30px;
            font-size: 15px;
          }
            
        
        
          table {
            margin-right:0.5rem;
            margin-top: 6rem;
            margin-left:2.5rem;
           margin-bottom:2rem;
          }
        
          td {
            height: 50px;
        }  
        
         
        .Socials {
        margin-top: 6rem;
        margin-right:1rem;
        }
        
        .mediapic {
            height:9.5rem;
            width:13rem;
            margin-top:2rem;
            margin-left:2rem;
            margin-right:3rem;
        
        
        }
        
        
        .mediapic  > h1{
            font-size:20px;
            margin-top:3.4rem;
            
            
        
        } 
        
        .social-media {
            margin-left:1.5rem;
        }
        
        .icon-accent {
            margin-top: 1.3rem;
            margin-right: 30px;
            font-size:1rem;
        }
        
        .submitbut {
        width:50px;
        height: 15px;
        font-size: 10px;
        top:20.5rem;
        left:13.2rem;
        
        }
        
        .Contact > hr {
            width:33rem;
            margin-top:3rem;
            margin-left:7.5rem;
        }
        
        .hotline {
           height:9.5rem;
           width:13rem;
           margin-left: 6rem;
           font-size: 15px;
        } 
        
        .hotline > p {
        text-align: center;
        position:absolute;
        top:3rem;
        }
        
        .location {
            display:flex;
            margin-top:4rem;
        }
        
        
        .loc-text {
            height:12rem;
            width:12rem;
            margin-left: 22rem;
            line-height: 20px;
            margin-top: 1rem;
        }
        
        
       .mapbut {
            width: 70px;
            height:15px;
            font-size:10px;
            margin-top:1.8rem;
            margin-left:9rem;
            }
        
          }
        
        
          @media only screen and (max-width:400px) {
        
            
        .Top-Part {
        
            height: 12rem;
        
        } 
        
         .Top-Part > h1 {
        font-size: 1.5rem;
        }
        
        .Sign {
        top:2.5rem;
        left:6rem;
        }
        
        .start {
            top:4.5rem;
            left:7.5rem;
        
        } 
        
         .Top-Part > h2 {
            font-size:0.8rem;
            top:7.5rem;
            left:4.4rem;
        }
        
        .Top-Part > hr {
            width:12rem;
            top:10rem;
            left:5.8rem;
        }
        
        
        .Contact {
            height:50rem;
        } 
        
        
        .box {
            height:3rem;
            width:8rem;
            margin-left:7.5rem;
            margin-top:0.5rem;
        }
        
        .box >h1 {
        margin-top:8px;
        font-size:20px;
        }
         
        
        .formular form {
            display:inline-block;
            text-align: center;
            font-size:10px;
        
        }
        
        
        input {
        
            width:10rem;
            font-size:10px;
          }
         
        
        
            textarea {
            width: 10rem;
            height: 5rem;
            margin-top:20px;
            font-size: 10px;
          }
            
        
        
          table {
            margin-top: 4rem;
            margin-left:3.7rem;
           margin-bottom:2rem;
          }
        
          td {
            height: 40px;
        }  
        
        
        .submitbut {
        width:50px;
        height: 15px;
        font-size: 10px;
        top:17rem;
        left:10rem;
        
        }
        .Socials {
        margin-top: 4rem;
        margin-right:1rem;
        }
        
        .mediapic {
            height:7rem;
            width:10rem;
            margin-top:2rem;
            margin-left:6.8rem;
        
        } 
        
         
        .mediapic  > h1{
            font-size:18px;
            margin-top:2.3rem;
            
        }
        
        .social-media {
            margin-left:5.6rem;
        }
        
        .icon-accent {
            margin-top: 1rem;
            margin-right: 25px;
            font-size:0.7rem;
        }
         
        
        .Contact > hr {
            width:15rem;
            margin-top:2rem;
            margin-left:4rem;
        }
        
        .hotline {
            height:7rem;
            width:10rem;
           margin-left: 6.8rem;
           font-size: 11px;
           margin-top:-1rem;
        } 
        
        .hotline > p {
        text-align: center;
        position:absolute;
        top:2.5rem;
        }
        
        .location {
            display:flex;
            margin-top:4rem;
        }
         
        
         .loc-text {
            height:8rem;
            width:8rem;
            margin-left: 0rem;
            line-height: 15px;
            margin-top:9rem;
        
        }
        
        
        .mapbut {
            width: 70px;
            height:15px;
            font-size:10px;
            margin-top:0rem;
            margin-left:5.5rem;
            }
         
          }
        
          

          





    /* Footer CSS starts here */
 
.africa{
  display: flex;
  justify-content: space-between; 
   /* 6margin-top: 40px;  */
  padding-left: 80px; 
  padding-right: 400px;
  margin-right: 40px; 
   padding-top: 30px;  
   width: 100%; 
   height: 250px; 
  background-color: #002A50;
}

.here{
  font-size: 30px;
  color: #fff;
}

.here p{
  border: 1px solid white;
  border-radius: 5px;
  color: #ccc;
  font-size: 15px;
  padding: 10px;
}

.here h5{
  color: #fff;
  font-size: 18px;
}

.here h6{
  border: 1px solid white;
  border-radius: 20px; 
  color: #002A50;
  font-size: 15px ;
  background-color: #fff;
  padding: 10px;
  width: 90px;
}

.short p{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.across{
  color: #fff;
}

.across p{
  font-weight: bold;
  font-size: 20px;
  padding-left: 30px;
}

.across ul li {
     list-style-type: none;
     padding: 7px;
     /* margin-right: 150px;  */
}

.across ul li a{
  font-size: 20px;
  text-decoration: none;
  color: #fff;
   

}

.africa .follow{
  color: #fff;
   padding-right: 20%;  
  font-size: 20px;
}



.fa-brands{
   padding: 20px; 

}

.footer{
  display: flex;
    justify-content: space-between;
   height: 30px; 
  background-color:#002A50;
  color: #fff;
    padding-top: 8px; 
   padding-left: 70px; 
   padding-right: 70px;  
  
}


@media screen and (max-width: 1440px) {

  .nav{ 
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    
  } 
  
   .container{
    height: 13%;
    width: 100%;
    background-color: #002A50;
  } 
  
   .links ul{
      display: flex;
      list-style-type: none;
      } 
  
  .links ul li a {
    text-decoration: none;
    color: #fff;
  } 
  
  .links ul li{
     margin-right: 150px; 
    
  } 
  
  
   .cloud{
    color: #fff;
    padding-left: 3%;
    margin-top: 14px;
    font-size: 20px;
  } 

  .bannerimage{
    background-size: cover;
   background-repeat: no-repeat; 
    /* background-position: 100%; */
   background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/photo1.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
  
  }
  
  .impact{
    position: absolute;
    top: 30%;
    left: 30%;
  
  }
  
  .impact h1{
    text-align: center;
    font-size: 60px;
    color: #fff;
  }
  
  .impact p{
    text-align: center;
    font-size: 20px;
    color: #002A50;
    border: 1px solid white;
    border-radius: 30px; 
     padding: 15px;  
    background-color: #fff;
   width: 170px; 
     margin-left: 80px; 
  }

  .container-big{
    display: flex;
    margin-top: 50px;
  }
  
  
  .inner-big{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  }
  
   .inner-big #first{
    width: 300px;
    height: 250px;
    
  }
  
    /* .inner-big #two{
    border: 2px solid yellow;
    width: 220px;
    height: 190px;
    margin-right: 110px;  
  } 
  
  
  .inner-big #three{
    border: 2px solid red;
    width: 240px;
    height: 180px;
     
  } 
    */
  
  .inner-big #four{
    width: 300px;
    height: 250px;
  }
  
  .big-pic{
    position: relative;
    width: 60%;
     
  }
  
  .big-pic img{
    width: 500px;
    height: 400px;
    position: absolute; 
     top: 2%;
    left: 12%; 
    border-radius: 150px 0px 150px 0px;
  }
  
  .ipsum{
     margin-top: 20px;
     padding-right: 120px;
  }
  
  
  .ipsum p{
   font-size: 18px;
   
  }
  
  
  .ipsum h6{
     font-size: 30px;
     color: #002A50;
     margin: 0;
     padding: 0;
  }
  
  .ipsum button{
    color: #fff;
    background-color: #002A50;
    padding: 8px;
    height: 40px;
    width: 100px;
    font-size: 20px;
  }


  .display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }

  .display img{
    height: 250px;
    width: 350px;
   /* margin-right: 40px;  */
     /* margin-left: 40px;  */
    border: 2px solid #002A50;
    border-radius: 10px;
  }
  
}


   /* Responsiveness for homepage---- tablet */

@media screen and (max-width: 768px) {
 
  .bannerimage{
    background-size: cover;
   background-repeat: no-repeat; 
    background-position: 100%;
   background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/photo1.jpg);
    width: 100%;
    height: 600px;
    background-position: center;
  
  }
  
  .impact{
    position: absolute;
    top: 30%;
    left: 20%;
  
  }
  
  .impact h1{
     text-align: center; 
    font-size: 60px;
    color: #fff;
    /* margin-right: 100px; */
  }
  
  .impact p{
    text-align: center;
    font-size: 20px;
    color: #002A50;
    border: 1px solid white;
    border-radius: 30px; 
     padding: 15px;  
    background-color: #fff;
   width: 170px; 
     margin-left: 80px; 
  }

  .container-big{
    display: inline-block;
    margin-top: 50px;
  }
  
  
  .inner-big{
     display: flex; 
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    
  }
  
   .inner-big #first{
    width: 50px;
    height: 50px;
    
  }
  
    .inner-big #two{
    border: 2px solid yellow;
    width: 150px;
    height: 150px;
    /* margin-left: 90px; */
     
    
  } 
  
  
  .inner-big #three{
    border: 2px solid red;
    width: 230px;
    height: 250px;
    margin-top: 80px;

     
  } 
  
  
  .inner-big #four{
    width: 80px;
    height: 80px;
  }
  
  .big-pic{
    position: relative;
    width: 60%;
     
  }
  
  .big-pic img{
    width: 470px;
    height: 390px;
    position: absolute; 
     top: 2%;
    left: 12%; 
    border-radius: 150px 0px 150px 0px;
    margin-top: 70px;
  }
  
  .ipsum{
     margin-top: 100px;
     padding-right: 150px;
     padding-left: 20px;
  }
  
  
  .ipsum p{
   font-size: 25px;
   text-align: center;
   
  }
  
  
  .ipsum h6{
     font-size: 35px;
     color: #002A50;
     margin: 0;
     padding: 0;
     text-align: center;
  }
  
  .ipsum button{
    color: #fff;
    background-color: #002A50;
    padding: 8px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin-left: 50%;
  }
  

  .over p{
    text-align: center;
    color: #002A50;
    font-size: 40px;
    
  }
  
  .users{
    display: flex;
    justify-content: space-between;
    
  }
  .about{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    width: 40%;
    height: 400px;
    margin-left: 60px;
    border-radius: 20px;
    margin-top: 2%;
    background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/images.jpg);
    
  }
  
  .services{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    width: 40%;
    height: 400px;
    margin-right: 60px;
    border-radius: 20px;
    margin-top: 10%;
    background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/images.jpg);
  
  }
  
  
  .see{
    color: #fff;
    text-align: start;
    font-weight: bolder;
    font-size: 25px;
    padding-left: 50px;
    text-align: start;
    padding-top: 30px;
  }
  
  .show{
    color: #fff;
    padding-left: 80%;
    padding-top: 40px;
  }
  
  .users hr{
    width: 20%;
    margin-left: 75%;
  }

  .awesome h1{
    text-align: center;
    color: hsl(209, 100%, 16%);;
    font-size: 40px;
     padding-top: 60px; 
     margin: 0; 
    
  
  }
  
  .awesome p{
    text-align: center;
    color: black;
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
  
  
  .display{
    display: inline-block;
    margin: 70px;
  }
  
  .display img{
    height: 400px;
    width: 480px;
   margin-right: 40px; 
     margin-left: 40px; 
    border: 2px solid #002A50;
    border-radius: 10px;
    margin: 10px;
    /* align-items: center; */
  }
  
  .offer h1{
    text-align: center;
    color: #002A50;
    font-size: 60px ;
    margin: 0;
    padding-top: 50px;
  }
  
  
  .includes{
    display: flex;
  }
  
  .success{
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 100%; */
    width: 70%;
    height: 300px;
     margin-left: 50px; 
    border-radius: 20px;
    margin-top: 20px;
    background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url('pics/cloud.png');
     color: #fff;
      text-align: center;
      font-weight: bolder; 
      font-size: 70px;
      
    
  }
  
  .success .globe{
    margin-top: 110px;
    
      
  }
  
  .system{
    /* margin-left: 100px; */
     /* padding-bottom: 120px;  */
  }
  
  .system h3{
    color: #002A50;
    font-size: 30px;
    margin-top: 0px;
  }
  
  .system hr{
      width: 20%;
      color: #002A50;
      margin-left: 30px;
  }
  
  .system p{
    font-size: 25px;
  }
  
  
  
  .enrich{
    display: flex;
  }
  
  .customer{
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 100%; */
    width: 70%;
    height: 300px;
      margin-right: 50px;  
    border-radius: 20px;
    margin-top: 70px;
    background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url('pics/cloud.png');
    color: #fff;
      text-align: center;
      font-weight: bolder; 
      font-size: 70px;
    
  }
  
  .customer .group{
    margin-top: 110px;
  }
  
  .google{
     margin-left: 30px; 
    margin-top: 90px;
  }
  
  .google h3{
    color: #002A50;
    font-size: 30px;
    margin-top: 0;
  }
  
  .google hr{
      width: 20%;
      color: #002A50;
      margin-left: 30px;
  }
  
  .google p{
    font-size: 25px;
  }
  
  
  
  .network{
    display: flex;
  }
  
  .solution{
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 100%; */
    width: 70%;
    height: 300px;
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 100px;
    background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/cloud.png);
    color: #fff;
      text-align: center;
      font-weight: bolder; 
      font-size: 70px;
  }
  
  .solution .filled{
    margin-top: 110px;
  }
  
  .range{
    margin-left: 100px;
    margin-top: 100px;
  }
  
  .range h3{
    color: #002A50;
    font-size: 25px;
    margin: 0%;
  }
  
  .range hr{
      width: 20%;
      color: #002A50;
      margin-left: 30px;
  }
  
  .range p{
    font-size: 25px;
  }

  
.team p{
  font-size: 25px;
   padding-top: 10px;
   padding-bottom: 20px; 
  margin: 0;
}

africa{
  display: flex;
  /* justify-content: space-between; */
  /* margin-top: 40px; */
  /* padding-left: 80px; */
  /* margin-right: 40px; */
  /* padding-top: 30px; */
  /* width: 100%; */
  height: 250px;
  background-color: #002A50;
}

.here{
  font-size: 27px;
  color: #fff;
}

.here p{
  border: 1px solid white;
  border-radius: 5px;
  color: #ccc;
  font-size: 15px;
  padding: 7px;
}

.here h5{
  color: #fff;
  font-size: 20px;
}

.here h6{
  border: 1px solid white;
  border-radius: 20px; 
  color: #002A50;
  font-size: 15px ;
  background-color: #fff;
  padding: 6px;
  width: 60px;
}

.short p{
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.across{
  color: #fff;
}

.across p{
  font-weight: bold;
  font-size: 25px;
  padding-left: 40px;
}

.across ul li {
     list-style-type: none;
     padding: 7px;
     /* margin-right: 150px; */
}

.across ul li a{
  font-size: 20px;
  text-decoration: none;
  color: #fff;

}

.africa .follow{
  color: #fff;
  /* padding-right: 20%; */
  font-size: 25px;
  /* padding-left: 20px; */
}

.follow p{
  padding-left: 150px;
}

.fa-brands{
     /* padding: 5px;    */
   /* margin-right: -60px;  */
   /* margin-right: 80px;   */
   margin-left: 75px;

  

}

.footer{
  display: flex;
    justify-content: space-between;
   height: 30px; 
  background-color:#002A50;
  color: #fff;
    padding-top: 8px; 
   padding-left: 70px; 
   padding-right: 70px;  
  
}
 
}



       /* Responsiveness for homepage--- mobile */

@media screen and (max-width: 390px) {
 
  .nav{ 
    display: flex;
    /* flex-wrap: wrap;
    justify-content: space-between; */
    
  } 

   .container{
  height: 13%;
  width: 100%;
  background-color: #002A50;
}  

 /* .links ul{
    display: flex;
    list-style-type: none;
    }  */

 .links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 11px;
}   

 .links ul li{
  padding-right: 20px;
}  


  .cloud{
  color: #fff; 
   padding-left: 3%; 
   margin-top: 14px; 
  font-size: 15px; 
}


.bannerimage{
  background-size: cover;
 background-repeat: no-repeat; 
  /* background-position: 100%; */
 background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/photo1.jpg);
  width: 100%;
  height: 600px;
  background-position: center;
  align-items: center;

}

.impact{
  position: absolute;
  top: 30%;
  left: 40%;

}

.impact h1{
   text-align: center; 
  font-size: 20px;
  color: #fff;
  margin-right: 110px;
}

.impact p{
  /* text-align: center; */
  /* font-size: 10px; */
  color: #002A50;
  border: 1px solid white;
  border-radius: 30px; 
   /* padding: 10px;   */
  background-color: #fff;
 /* width: 50px;  */
    margin-left: -25px;    
   /* padding-right: 60px; */

}




.container-big{
  display: inline-block;
   margin-top: 150px; 
  flex-wrap: wrap;
}


.inner-big{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  
}

 .inner-big #first{
  width: 50px;
  height: 50px;
  
} 

   .inner-big #two{
  border: 2px solid yellow;
  width: 80px;
  height: 80px;
   margin-bottom: 50px;  
    margin-right: -100px; 
} 


.inner-big #three{
  border: 2px solid red;
  width: 210px;
  height: 170px;
  
} 


 .inner-big #four{
  width: 80px;
  height: 80px;
} 
  
.big-pic{
  position: relative;
  width: 60%;
   
}

.big-pic img{
  width: 300px;
  height: 280px;
  position: absolute; 
   top: 2%;
  left: 12%; 
  border-radius: 150px 0px 150px 0px;
} 

.ipsum{
   margin-top: 20px;
    padding-left: 70px;  
   /* align-items: center; */
}


.ipsum p{
 font-size: 18px;
 text-align: center;
 
} 

 
.ipsum h6{
   font-size: 20px;
   color: #002A50;
   margin: 0;
   padding: 0;
   text-align: center;
} 

 .ipsum button{
  color: #fff;
  background-color: #002A50;
  padding: 8px;
  height: 40px;
  width: 100px;
  font-size: 20px;
  /* align-items: center; */
  margin-left: 10px;
}

.over p{
  text-align: center;
  color: #002A50;
  font-size: 20px;
  padding-top: 50px;
  
}

.users{
  display: inline-block;
  /* justify-content: center;  */
  flex-wrap: wrap;
  /* text-align: center; */
  
}
.about{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 80%;
  height: 400px;
  /* margin-left: 60px; */
  border-radius: 20px;
  margin-top: 2%;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/images.jpg);
  
}

.services{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 80%;
  height: 400px;
 margin-left: 50px; 
  border-radius: 20px;
  margin-top: 10%;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/images.jpg);

}


.see{
  color: #fff;
  text-align: start;
  font-weight: bolder;
  font-size: 25px;
  padding-left: 30px;
  padding-top: 40px;
}

.show{
  color: #fff;
  padding-left: 80%;
  padding-top: 40px;
}

.users hr{
  width: 20%;
  margin-left: 75%;
}

.awesome h1{
  font-size: 30px;
}

.awesome p{
  text-align: center;
  color: black;
  font-size: 20px;
  margin: 0;
  padding: 0;
}


.display{
  display: inline-block;
  /* justify-content: space-between; */
  margin-top: 30px;
}

.display img{
  height: 250px;
  width: 350px;
  margin-right: 50px;    
    /* margin-left: 20px;    */
  border: 2px solid #002A50;
  border-radius: 10px;
   margin-top: 10px; 
  /* align-items: start;  */
}

.offer h1{
  text-align: center;
  color: #002A50;
  font-size: 35px ;
  margin: 0;
  padding-top: 50px;
}


.includes{
  display: inline-block;
}

.success{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 80%;
  height: 300px;
  margin: 90px;
   /* margin-right: 50px;  */
  border-radius: 20px;
  margin-top: 20px;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url('pics/cloud.png');
   color: #fff;
    text-align: center;
    font-weight: bolder; 
    font-size: 70px;
    
  
}


.success .globe{
  margin-top: 110px;
  
    
}

.system{
  margin-left: 100px;
  margin-top: 20px;
}

.system h3{
  color: #002A50;
  font-size: 30px;
}

.system hr{
    width: 20%;
    color: #002A50;
    margin-left: 30px;
}

.system p{
  font-size: 30px;
}



.enrich{
  display: inline-block;
  
}

.customer{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 80%;
  height: 300px;
   /* margin-left: 100px;  */
  border-radius: 20px;
  margin-top: 70px;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url('pics/cloud.png');
  color: #fff;
    text-align: center;
    font-weight: bolder; 
    font-size: 70px;
  
}

.customer .group{
  margin-top: 110px;
}

.google{
    margin-left: 90px;  
  margin-top: 90px;
}

.google h3{
  color: #002A50;
  font-size: 30px;
   /* margin-right: 100px;  */
}

.google hr{
    width: 20%;
    color: #002A50;
    margin-left: 30px;
}

.google p{
  font-size: 30px;
}



.network{
  display: inline-block;
}

.solution{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100%;
  width: 80%;
  height: 300px;
  margin: 90px;
  border-radius: 20px;
  margin-top: 100px;
  background-image: linear-gradient(0deg, rgba(7, 7, 7, 0.54), rgba(2, 2, 2, 0.69)), url(pics/cloud.png);
  color: #fff;
    text-align: center;
    font-weight: bolder; 
    font-size: 70px;
}

.solution .filled{
  margin-top: 110px;
}

.range{
  margin-left: 100px;
  margin-top: 100px;
}

.range h3{
  color: #002A50;
  font-size: 30px;
}

.range hr{
    width: 20%;
    color: #002A50;
    margin-left: 30px;
}

.range p{
  font-size: 30px;
}

.africa{
  display: flex;
  /* margin-top: 40px; */
   padding-left: 30px; 
  /* margin-right: 100px; */
  /* padding-top: 30px; */
  width: 100%;
  height: 250px;
  background-color: #002A50;
  align-items: justify;
}

.here{
  font-size: 20px;
  color: #fff;
  padding-right: 20px; 
}

.here p{
  border: 1px solid white;
  border-radius: 5px;
  color: #ccc;
  font-size: 12px;
  padding: 5px;
}

.here h5{
  color: #fff;
  font-size: 18px;
  /* padding-right: 40px; */
}

.here h6{
  border: 1px solid white;
  border-radius: 20px; 
  color: #002A50;
  font-size: 12px ;
  background-color: #fff;
  padding: 10px;
  width: 60px;
  margin-right: 50px;
}

.short p{
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.across{
  color: #fff;
}

.across p{
  font-weight: bold;
  font-size: 15px;
  /* padding-left: 30px; */
}

.across ul li {
     list-style-type: none;
     /* padding: 7px; */
     /* margin-right: 150px; */
}

.across ul li a{
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  padding-right: 40px;

}


.africa .follow{
  color: #fff;
  padding-right: 20%; 
  font-size: 15px;
}

.follow p{
  padding-right: 80px;
}

.fa-brands{
   padding: 2px;

}

.footer{
  display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
    height: 80px; 
    width: 100; 
  background-color:#002A50;
  color: #fff;
    padding-top: 8px; 
   padding-left: 70px; 
   padding-right: 70px;  
   font-size: 18px;
  
}



}